@charset "utf-8";
@import "var";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("/src/css/swiper.min.css");
@import url("/src/css/layout.css");
@import url("admin.css");
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(/src/fonts/Pretendard-Light.eot);
  src: local("☺"), url(/src/fonts/Pretendard-Light.eot#iefix) format("embedded-opentype"), url(/src/fonts/Pretendard-Light.woff2) format("woff2"), url(/src/fonts/Pretendard-Light.woff) format("woff"), url(/src/fonts/Pretendard-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(/src/fonts/Pretendard-Regular.eot);
  src: local("☺"), url(/src/fonts/Pretendard-Regular.eot#iefix) format("embedded-opentype"), url(/src/fonts/Pretendard-Regular.woff2) format("woff2"), url(/src/fonts/Pretendard-Regular.woff) format("woff"), url(/src/fonts/Pretendard-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(/src/fonts/Pretendard-Medium.eot);
  src: local("☺"), url(/src/fonts/Pretendard-Medium.eot#iefix) format("embedded-opentype"), url(/src/fonts/Pretendard-Medium.woff2) format("woff2"), url(/src/fonts/Pretendard-Medium.woff) format("woff"), url(/src/fonts/Pretendard-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(/src/fonts/Pretendard-SemiBold.eot);
  src: local("☺"), url(/src/fonts/Pretendard-SemiBold.eot#iefix) format("embedded-opentype"), url(/src/fonts/Pretendard-SemiBold.woff2) format("woff2"), url(/src/fonts/Pretendard-SemiBold.woff) format("woff"), url(/src/fonts/Pretendard-SemiBold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(/src/fonts/Pretendard-Bold.eot);
  src: local("☺"), url(/src/fonts/Pretendard-Bold.eot#iefix) format("embedded-opentype"), url(/src/fonts/Pretendard-Bold.woff2) format("woff2"), url(/src/fonts/Pretendard-Bold.woff) format("woff"), url(/src/fonts/Pretendard-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(/src/fonts/Pretendard-ExtraBold.eot);
  src: local("☺"), url(/src/fonts/Pretendard-ExtraBold.eot#iefix) format("embedded-opentype"), url(/src/fonts/Pretendard-ExtraBold.woff2) format("woff2"), url(/src/fonts/Pretendard-ExtraBold.woff) format("woff"), url(/src/fonts/Pretendard-ExtraBold.otf) format("opentype");
  font-weight: 800;
  font-style: normal;
}

html {
  height: 100%;
  font-size: 1px;
  
  @include screen("inner") {
    font-size: 0.060975610vw;
  }
  @include screen("mo") {
    font-size: 0.266666667vw;
  }
}
body {
  min-width: 1400px;
  color: $color-black;
  font-family: $font-kr;
  @include font-size(14rem);
  font-weight: 500;
  line-height: 1.22;
  word-wrap: break-word;
  word-break: keep-all;
  position: relative;
  @include screen("mo") {
    @include font-size(14rem);
  }
}
::-webkit-scrollbar{ display: none;}
::placeholder{ color: #6c6c6c;}
body,
div,
p,
span,
a,
section,
label,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
header,
footer,
main,
b,
i,
strong,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
object,
table,
tr,
th,
td,
input,
textarea{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
  outline: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 0 none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
label{ cursor: pointer;}
img,
svg {
  display: block;
  border: none;
  width: 100%;
}
option {
  color: $color-black;
}
section {
  position: relative;
}
picture {
  display: block;
  width: 100%;
}